/*Global Styles*/
.ia2amp-header {
    margin-bottom: 26.4px;
}
.ia2amp-header-bar {
    margin: -5px 0 12px 0;
    height: 55px;
    font: 0/0 a;
}
.ia2amp-header-bar:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 15px;
}
.ia2amp-header-bar-img-container {
    display: inline-block;
    vertical-align: middle;
}
.ia2amp-header-category {
    font-size: 10px;
    line-height: 12px;
    display: block;
    font-weight: normal;
    margin: 18.8px 16.4px 0 16.4px;
}
.ia2amp-header-h1 {
    font-size: 30px;
    line-height: 30px;
    display: block;
    font-weight: normal;
    margin: 13.2px 16.4px 13.2px 16.4px;
}
.ia2amp-header-h2 {
    font-size: 16px;
    line-height: 20px;
    display: block;
    font-weight: normal;
    margin: 0 16.4px 18.8px 16.4px;
}
.ia2amp-header h3 {
    font-size: 8px;
    line-height: 12px;
    display: block;
    font-weight: normal;
    margin: 0 16.4px 0 16.4px;
}

.ia2amp-h1, .ia2amp-h2, .ia2amp-h3 {
    display: block;
}

.ia2amp-p {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
.ia2amp-blockquote {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 13.2px 0px 18.8px;
    margin: 18.8px 16.4px 18.8px 16.4px;
}
