/*Global Styles*/
.ia2amp-header {
    margin-bottom: 10px;
}
.ia2amp-header-bar {
    background-color: #666;
    margin: -5px 0 12px 0;
    height: 36px;
    padding-left: 15px;
}

.ia2amp-header-category {
    font-size: 10px;
    line-height: 12px;
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 15px;
}

.ia2amp-header-h1 {
    font-size: 30px;
    line-height: 30px;
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
}

.ia2amp-header-h2 {
    font-size: 16px;
    line-height: 20px;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
}

.ia2amp-header-author, .ia2amp-header-date {
    font-size: 8px;
    line-height: 12px;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px 15px 0 15px;
}

.ia2amp-p {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.ia2amp-blockquote {
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
    margin: 30px 15px 30px 15px;
}
