/*
Custom CSS for wod-gray style goes here
*/

/*
p {
    background-color: rgb(255,00,00);
}
*/

.ia2amp-cover-image {
    width: 500px;
    height: 380px;
    overflow: hidden;
    position: relative;
}

.ia2amp-cover-image > amp-img, .ia2amp-cover-image > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
